<footer>
    <div class="container">
        <p>
            Powered by
            <a href="https://github.com/davidvuong/pyraspcontrol" target="_blank">PyRaspControl</a>.
        </p>
        <p>
            Checkout the source on
            <a href="https://github.com/davidvuong/pyraspcontrol" target="_blank">GitHub</a>.
        </p>
    </div>
</footer>

<script src="../static/js/vendor/jquery-2.1.4.min.js"></script>
<script src="../static/js/vendor/jquery-ui.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
