<div class="container">
<nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">
            <img alt="PyRaspControl" src="../static/images/raspcontrol.png"
                 width="50" height="50">
            <span class="navbar-brand-label">PyRaspControl</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li {% if page == 'index' %} class="active" {% endif %}>
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li {% if page == 'details' %} class="active" {% endif %}>
                <a href="/details">
                    <span class="glyphicon glyphicon-search"></span> Details</a>
            </li>
            <li {% if page == 'services' %} class="active" {% endif %}>
                <a href="/services">
                    <span class="glyphicon glyphicon-cog"></span> Services</a>
            </li>
            <li {% if page == 'disks' %} class="active" {% endif %}>
                <a href="/disks">
                    <span class="glyphicon glyphicon-hdd"></span> Disks</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-repeat"></span> Reboot</a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-off"></span> Shutdown</a>
            </li>
        </ul>
    </div>
</nav>
</div>
