div.index-page * img {
    max-height: 75px;
    max-width: 75px;
}

div.index-page > div.row {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px dashed rgba(211, 211, 211, .5);

    min-height: 77px;
}

/* row-content */
div.index-page * .title,
div.index-page * .content-wrapper {
    line-height: 75px;
}
div.index-page * .content {
    font-size: 14px;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
div.index-page * .title {
    font-size: 16px;
}

/* row-progress-content */
div.index-page * .progress.content {
    display: block;
    margin-bottom: 0;
}
div.index-page * .progress-bar-content {
    font-size: 12px;
}

div.index-page * .progress-content-wrapper {
    padding-top: 12px;
}
div.index-page * .progress-content-wrapper.simple {
    padding-top: 22px;
}

div.index-page * .external-ip {
    display: none;
}

div.index-page * img[src="../static/images/icons/danger.png"],
div.index-page * img[src="../static/images/icons/warning.png"],
div.index-page * img[src="../static/images/icons/success.png"] {
    width: 25px;
    height: 25px;

    cursor: pointer;

    position: relative;
    top: 24px;
}
